@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --clr-prm:hsl(47, 88%, 63%);

    --clr-lg:hsl(0,0%,100%);
    --clr-lg-dark:hsl(0,0%,50%);
    --clr-dark:hsl(0,0%,7%);

    --fw-small:600;
    --fw-big:800;

    --fs-small:0.8rem;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
    font-weight: var(--fw-small);
}
.viewport{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--clr-prm);
}

.blog-card{
    max-width: 340px;
    background-color: var(--clr-lg);
    border: 1px solid;
    border-radius: 1rem;
    box-shadow: 10px 10px;
}
.wrapper{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 1.5rem;
    gap:0.8rem;
}
.inner-card img{
    border-radius: 0.8rem;
    max-width: 295px;
}
.status{
    background-color: var(--clr-prm);
    font-size: var(--fs-small);
    width: max-content;
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
    font-weight: var(--fw-big);
}
.blog-card p:nth-child(3){
    font-size: var(--fs-small);
}
.blog-card h1 a{
    text-decoration: none;
    color:var(--clr-dark);
    font-size: 1.2rem;
    font-weight: var(--fw-big);
    transition: color 0.2s ease;
}
.blog-card h1 a:hover{
    color: var(--clr-prm);
}
.blog-card p:nth-child(5){
    color: var(--clr-lg-dark);
    font-weight: var(--fw-small);
    line-height: 1.5rem;
}
.profile{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
}
.profile img{
    width: 2rem;
}
.profile-id{
    font-weight: var(--fw-big);
}